.footer {
  background-color: $color-grey-dark-2;
  padding: 5rem 0 3rem 0;
  font-size: 1.5rem;
  color: $color-white;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__copyright {
    color: $color-white;
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    @include respond(tab-port) {
      text-align: center;
      width: 100%;
    }
  }
}

.footer h1 {
  letter-spacing: 0.4rem;
  text-transform: capitalize;
}

.footer-para {
  text-transform: capitalize;
  word-spacing: 0.2rem;
  color: $color-white;
}


@include respond(tab-port) {
  footer {
    text-align: center;
  }
}